<ion-content>

     <div class="logo ion-padding"> 
      <img src="../../assets/icon/Annotation 2023-11-23 134024.png" alt="">
    </div>
 
  <div class="login-section ion-padding">
    <div class="heading">
      <h1>Sri Murugan Store !! </h1>
    </div>
    <div class="login-form">
      <div class="form-input ion-padding">
        
        <div>
          <ion-icon name="mail-outline"></ion-icon>
          <input  placeholder="Email or phone">

        </div>
       
        <div>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" placeholder="Enter Password">
          
        </div>
      </div>
    </div>
    <div class="submit-button ion-padding">
      <ion-button  shape="round">Login<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      
    </div>
   <div class="forgot"> <p >Forgot Password ?</p></div>
  </div>
</ion-content>